.c-application-info {
  +above(m) {
    margin-top: $vspacing*8;
  }
  .page-form-applicant & {
    +above(m) {
      margin-top: -($vspacing*8);
    }
  }
  border-top: 5px solid $primary;
  padding: $vspacing 0;

  .title {
    font-size: $smallCopy;
    display: block;
  }
  .contents {
    font-weight: bold;
    display: block;
    margin-bottom: $vspacing;
  }
}
