.c-global-header {
  background-color: $text-colour;
  .logo {
    text-decoration none
    ff-title();
    text-transform: uppercase;
    color: $white;
    font-size $baseFont * 3
  }
  img {
    width 35px
    height 31px
    margin-right ($hspacing/2)
    vertical-align middle
  }
}
