.c-global-logged-in {
  margin: $vspacing*6 0 $vspacing;
  position: absolute;
  top:-($bodyCopy*1.5);
  right:2.5%;
  margin: 0;
  font-size: $smallCopy;
  .company {
    display: none;
    +above(m) {
       display: inline-block;
    }
    font-weight: bold;
  }
  a {
    margin-left: $hspacing;
  }
}
