.c-global-logged-in {
  margin $vspacing*6 0 $vspacing;
  +above(m) {
    position absolute
    top:-($bodyCopy*1.5);
    right:0;
    margin 0
  }
  font-size $smallCopy;
  .company {
    font-weight bold
    margin-right $spacing
  }
}
