.c-global-header {
  cf();
  background-color $text-colour
  margin-bottom $spacing*5
  height: $vspacing*8
  .logo {
    text-decoration none
    ff-title()
    padding: 0 ($hspacing/2)
    text-transform uppercase
    color $white
    font-size $baseFont * 3
  }
  img {
    width 35px
    height 31px
    margin-right ($hspacing/2)
    vertical-align middle
  }
  h1 {
    color #fff
    font-size $baseFont*2.4
  }
  .col {
    col(2/3)
    float right
  }
  .wrapper {
    cf();
    position relative
    padding $vspacing ($hspacing*2)
    height: 100%;
    &:after {
      position absolute
      left:0;
      bottom:-($vspacing);
      height: $vspacing;
      width: 100%;
      background-color $primary
    }
  }
  .phase {
    position absolute
    left:0;
    bottom: -($vspacing*4.8)
    width 100%
    padding: ($spacing/2) 0
    border-bottom 1px solid $border-colour;

    &:before {
      color: #fff;
      font-size $smallCopy
      font-weight bold
      padding: 3px ($spacing/2) 0
      margin-right ($hspacing/2)
    }
    &.alpha:before {
      content "ALPHA"
      background-color: $alpha-colour;
    }
    &.beta:before {
      content "BETA"
      background-color: $beta-colour;
    }
  }
}
