.c-global-nav {
  padding-bottom ($vspacing/2)
  li {
    display inline-block;
  }
  a {
    display block
    color #fff
    font-weight bold
    text-decoration none
    font-size $baseFont * 1.6
    margin-right $spacing
    &:hover {
      text-decoration underline
      color: $link-hover-colour;
    }
  }
}
