// This file is to store your commonly used variables. I've included some common ones here for you.

// Main site colours
$primary = #5085A3;
$secondary = #A3793F;

// Contrast colours are colours which stand out against the primary color. They all have a '-con' prefix
$primary-con = #8dccf0;
$secondary-con = #F0C68D;

// Text colours
$bodyColor = #333;
$linkColor = $primary;
$linkHoverColor = lighten($linkColor, 20%);

// Fonts
$primaryFont = 'Lucida Grande',Helvetica,Arial,sans-serif;
$secondaryFont = 'fertigo_proregular','Lucida Grande',Helvetica,Arial,sans-serif;

// Size defaults
$baseFont = 1.4rem;
$lineHeight = 1.4;
$brad = 3px; //border-radius
$spacing = 1rem;
$hspacing = $spacing;
$vspacing = $spacing;

$crust = $baseFont * 5
$mantle = $baseFont * 1.8
$outercore = $baseFont * 1.6
$innercore = $baseFont * 1.1
