// Common classes
.strong,
.bold {
  font-weight: bold;
}

.em,
.italic {
  font-style: italic;
}

.hide {
  // This hides the content for everyone, even most screen readers
  // won't see this
  display: none;
}

.vishide {
  // This is only visually hidden screen readers will still be able
  // to read this text
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.lined-list {
  li {
    padding: $vspacing 0;
    border-top: 1px solid $border-colour;
  }
}

//basic button
.o-btn {
  cursor: pointer;
  padding: $spacing;
  color: $highlight-colour;
  background-color: $button-colour;
  border-radius: $brad;
  font-weight: bold;
  &:hover {
    background-color: darken($button-colour, 10%);
  }

  a {
    // In case class is on parent
    color: $highlight-colour;
  }

}
