/* All generic form styling goes here. */
/* For specific form component styles see the appropriate component stylesheet */

form {
  margin-bottom $spacing*2
}

.field-container {
  padding: $vspacing 0;
  margin-bottom ($vspacing/2);
  +above(m) {
    width: 50%;
  }
}

legend {
  font-size $mantle;
  font-weight bold
}

label {
  display block
  margin-bottom ($vspacing/2)
}

input, textarea, select {
  background: $white;
  border: 3px solid $black;
  padding: $spacing;
  width:100%;
  font-size $smallCopy
  &:focus {
    outline: 0;
    border-color: $focus-colour;
  }
}

button {
  button()
  margin-top $vspacing
}

.form-summary {
  > li {
    > a {
      font-weight bold
    }
    > ul > li {
      margin-left $hspacing*2
      > ul > li {
        margin-left $hspacing*2
      }
    }
  }
}
