// This is the print stylesheet, I've set up some defaults for you,
// feel free to tweak them to match your site

body {
    width: 210mm;
    height: 297mm;
    font-family: Helvetica,Arial,sans-serif;
}
.no-print,
.hide,
header,
footer {
  display: none;
}

.wrapper {
  margin: 5mm;
}

h1 {
    text-transform: uppercase;
    font-size: 6mm;
    background-color: #555;
    border-top: .5mm solid #555;
    border-bottom: .5mm solid #555;
    color: #fff;
    padding: 3mm;
    margin: 2mm 0;
}

dt,
h2 {
    font-size: 5mm;
    background-color: #ccc;
    border-bottom: .5mm dotted #ccc;
    padding: 3mm;
    margin: 2mm 0;
}

dd {
  margin: 0 3mm;
}

li,
p {
  font-size: 4mm;
}

form {
    input,
    textarea {
        display: block;
        width: 180mm;
        border: .5mm solid #333;
        padding:2mm;
        margin-bottom: 2mm;
        &[type="checkbox"] {
            display: inline-block;
            width: auto;
            margin-top: 2mm;
            margin-left: 0mm;
            margin-right: 1mm;
            margin-bottom: -1mm;
            -webkit-appearance: none;
            padding: 2mm;
            background-color: #fff;
        }
    }
        ::-webkit-input-placeholder {
          color: #fff;
        }
        :-moz-placeholder {
          color: #fff;
        }
        ::-moz-placeholder {
          color: #fff;
        }
        :-ms-input-placeholder {
          color: #fff;
        }
    fieldset {
      background-color: #f3f3f3;
    }

    legend,
    button {
        display: none;
    }
}
