/**
 * Setup
 *
 * Setting up the grid and primary styles
 *
 **/

body {
  ff-body();
  background: url(images/paper.png) repeat;
  font-size: $baseFont;
  color: $text-colour;
}

h1,
h2,
h3 {
  ff-title();
  color: $primary;
  a {
    color: currentColor;
  }
}

a {
  color: $link-colour;
  &:hover {
    $link-hover-colour;
  }
}

p {
  line-height: $lineHeight;
  margin-bottom: $lineHeight;
}

.skip-link {
  position: absolute;
  left: -100%;
  top: -100%;
}

.wrapper {
  +above(l) {
   center(1280px);
  }
}
